.NavBarDiv{
    display: flex;
    width: 100%;
    height:100%;
    justify-content: right;
    border-bottom: 1px groove;
    box-shadow:0px 1px 3px .1px black;
}

.NavBarDiv.Dark{
    background-color: rgb(19, 19, 19);
    border-color: white;
    box-shadow:0px 1px 3px .1px white;
}

.NavBarDiv.Light{
    background-color: rgb(241, 241, 241);
    border-color: black;
    box-shadow:0px 1px 3px .1px black;

}

.ProfileDivOnNavBar{
    width: 350px;
    height: 200px;
    position: absolute;
    top: 10vh;
    right: 30px;
    border-radius: 20px;
    flex-direction: column;
}

.TopOnProfile{
    height: 30%;
    width: 100%;
    cursor: pointer;
}

.BottomOnProfile{
    height: 60%;
    width: 100%;
    flex-direction: column;
}

.ProfilePicDivOnNav{
    width: 20%;
    height: 90%;
}

.ProfilePicDivOnNav img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.ProfileNameDivOnNav{
    width: 60%;
    height: 90%;
    font-size: 22px;
    justify-content: left;
}

.ProfileDetailsNav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

.ProfileDetailsIconOnDiv{
    width: 30%;
    height: 40%;
}

.ProfileDetailOnDiv{
    width: 70%;
    height: 40%;
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 22px;
}

.CloseIconOnProfNav{
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right:10px;
}


.SideBarIcon{
    width: 0px;
    height: 0px;
    border-radius: 50%;
    cursor: pointer;
    display: grid;
    margin-right: 20px;
    place-items: center;
    visibility: hidden;
    /* background-color: white; */
}

.SidebarItems{
    width: 50%;
    height: 30px;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    /* position: unset; */
    /* background-color: white; */
}

.SidebarItemsName{
    width:50%;
}

/* .SidebarItems.item-1{
    grid-row-start:3;
}
.SidebarItems.item-2{
    grid-row-start:4;
}

.SidebarItems.item-3{
    grid-row-start:5;
} */

.SCloseIcon{
    position: absolute;
    top:5px;
    right: 5px;
}

.ThemeIcon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    /* position: absolute; */
    display: grid;
    place-items: center;
}

.ProfileImageonNavbar{
    width: 35px;
    height: 35px;
    margin-right: -80px;
    overflow: hidden;
}

.ProfileImageonNavbar img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.NavBarSideBarDiv{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    grid-template-rows: repeat(10,50px);
    grid-template-columns: 100%;
    font-size: 20px;
    z-index: 10;
    border-right: 1px groove;
    visibility: hidden;

    /* background-color: white; */
}

.NavBarSideBarDiv.ThemeDarkDiv{
    border-color: white;
}

.NavBarSideBarDiv.ThemeLightDiv{
    border-color: black;
}


.NavBarInnerDiv{
    /* border: 1px groove white; */
    /* background-color:rgb(255,255,255,0.05); */
    /* box-shadow: 25px 50px -12px rgb(0 0 0 / 0.25); */
    min-width:55%;
    max-width: 70%;
    height: 90%;
    border-radius: 20px;
    justify-content: space-around;
    font-family: 'Dancing Script';
}

.navhead{
    transition: .5s;
    border-radius: 20px;
    min-width:100px;
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
    height: 70%;
    /* display: flex;
    justify-content: center;
    text-align: center; */
    display: grid;
    place-items: center;
    font-size: 20px;
    cursor: pointer;
}

.NavBarDiv .Dark{
    /* border: 1px groove white; */
    box-shadow: -1px 1px 2px .1px white;
}

.NavBarDiv .Light{
    /* border: 1px groove black; */
    box-shadow: -1px 1px 2px .1px black;
}

.navhead.Dark:hover{

    transform: translateY(-5px);
    font-size: 22px;
    background-color: white;
    color: black;
    box-shadow: -1px 2px 5px 1px white;
}

.Dark .CurPage{
    transform: translateY(-5px);
    font-size: 22px;
    background-color: white;
    color: black;
    box-shadow: -1px 2px 5px 1px white;
}
.Light .CurPage{
    transform: translateY(-5px);
    font-size: 22px;
    background-color: black;
    color: white;
    box-shadow: -1px 2px 5px 1px black;
}

.navhead.Light:hover{
    
    transform: translateY(-5px);
    font-size: 22px;
    background-color: black;
    color: white;
    box-shadow: -1px 2px 5px 1px black;
}



/*****************************************************/


@media screen and (max-width: 1210px) {

    .navhead{
        min-width: 55px;
        border-radius: 17px;
        font-size: 17px;
    }

    .NavBarDiv .Dark {
        box-shadow: -.7px .7px 1.3px .1px white;
    }

    .NavBarDiv .Light {
        box-shadow: -.7px .7px 1.3px .1px black;
    }

    .ThemeIcon {
        width: 27px;
        height: 27px;
    }

    .ThemeIcon .css-i4bv87-MuiSvgIcon-root{
        font-size: 1.3rem;
    }
    .ProfileImageonNavbar{
        width: 30px;
        height: 30px;
    }

    .ProfileImageonNavbar{
        margin-right: -60px;
    }

    
    
}

@media screen and (max-width: 825px) {

    .navhead {
        min-width: 40px;
        border-radius: 12px;
        font-size: 13px;
    }

    .NavBarInnerDiv{
        min-width: 55%;
    }

    .ThemeIcon .css-i4bv87-MuiSvgIcon-root {
        font-size: 1.1rem;
    }
    .ProfileImageonNavbar{
        margin-right: -40px;
    }
    
}

@media screen and (max-width: 630px) {

    .NavBarInnerDiv {
        min-width: 65%;
    }

    .ThemeIcon {
        width: 23px;
        height: 23px;
    }

    .ProfileImageonNavbar{
        width: 25px;
        height: 25px;
    }

    .NavBarDiv .Dark {
        box-shadow: -.5px .5px 1.2px .06px white;
    }

    .NavBarDiv .Light {
        box-shadow: -.5px .5px 1.2px .06px white;
    }
    .ProfileImageonNavbar{
        margin-right: -30px;
    }
    
}

@media screen and (max-width: 500px) {

    .NavBarInnerDiv .navhead{
        min-width: 30px;
        visibility: hidden;
    }

    .NavBarSideBarDiv{
        visibility:visible;
    }

    .SideBarIcon{
        width: 23px;
        height: 23px;
        visibility: visible;
    }

    .SideBarIcon .css-i4bv87-MuiSvgIcon-root{
        font-size: 1.1rem;
    }

    .ProfileImageonNavbar{
        visibility: hidden;
    }
    
}