.WrongUrlBaseDiv{
    width: 100%;
    height: 100vh;
    position:absolute;
    flex-direction: column;
}

.WrongUrlImage{
    width: 500px;
    height: 500px;
    display: grid;
    place-items: center;
}

.WrongUrlBaseDiv h1{
    text-align: center;
}

.WrongUrlImage img{
    width: 500px;
    height: 500px;
}

